boto==2.39.0
boto3==1.3.0
botocore==1.4.6
docutils==0.12
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
peewee==2.8.0
PyMySQL==0.7.2
python-dateutil==2.5.1
python-sql==0.8
requests==2.9.1
six==1.10.0
tinys3==0.1.11
Werkzeug==0.11.5
